.col-form-label {
    width: 8rem;
}

.btn_container {
    margin-left: auto;
    margin-top: 1rem;
    width: 8rem;
}

.form-group {
    margin-top: 1rem;
}

.title {
    font-size: 16px;
    border-bottom: 1px solid gray;
}