<mat-sidenav-container class="app-container" *ngIf="IsFormLoaded">
    <mat-sidenav #sidenav *ngIf="showComments" class="right-side-nav" opened mode="side" position="end" [fixedInViewport]="true" fixedTopGap="65" [(opened)]="showComments" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <app-comments [formId]="formId" [entryId]="entryId"></app-comments>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="toggle-and-submit-buttons">
            <div>
                <div class="comments-toggle" *ngIf="toggleCommentsButton">
                    <mat-slide-toggle [(ngModel)]="showComments" color="primary">
                        Comments
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="submit-button">
                <button type="submit" *ngIf="!disableSave" class="button" (click)="onSubmit()" [disabled]="disableSave">Send
                    for
                    {{toState}}</button>
                <button type="button" class="button-cancel" (click)="sendBack()" *ngIf="undefined!=sendBackState">Send
                    Back to
                    {{sendBackState}}</button>
                <button type="button" class="button" (click)="EditMasterData()" *ngIf="IsEditMasterEnabled">Edit Master Data</button>
            </div>
        </div>
        <formio [form]='CurrentForm' #formio [options]='FormOptions'></formio>
    </mat-sidenav-content>
</mat-sidenav-container>