<mat-sidenav-container class="app-container" *ngIf="IsFormLoaded">
    <mat-sidenav #sidenav *ngIf="showComments" class="right-side-nav" opened mode="side" position="end" [fixedInViewport]="true" fixedTopGap="65" [(opened)]="showComments" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <app-comments [formId]="formId" [entryId]="entryId"></app-comments>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="header">
            <div class="header-name">
                <img src="../../../assets/form-template-icons/icon-{{(formId%10)+1}}.svg">
                <div>
                    <h2>

                        {{formName}}
                    </h2>
                    <div class="subheader">
                        <div><label>Record Id:</label> <span> {{entryId}}</span></div>

                        <div> <label>Current State:</label><span> {{this.currentState?.name}}</span></div>
                    </div>

                </div>

            </div>
            <div class="back-button" (click)="back()">
                <img src="../../../assets/left-arrow.svg"> Back
            </div>
        </div>
        <div class="content">
            <div class="toggle-and-submit-buttons">
                <div>
                    <div class="comments-toggle" *ngIf="toggleCommentsButton">
                        <mat-slide-toggle [(ngModel)]="showComments" color="primary">
                            Comments
                        </mat-slide-toggle>
                    </div>


                </div>
                <div class="submit-button">
                    <button type="submit" *ngIf="!disableSave" class="button" (click)="onSubmit()" [disabled]="disableSave">{{sendToButtonLabel}}</button>
                    <button type="button" class="button-cancel" (click)="sendBack()" *ngIf="undefined!=sendBackState">Send
                        Back to
                        {{sendBackState}}
                    </button>

                    <div class="export-parent" *ngIf="disableSave && undefined==sendBackState" (click)="exportToPDF()">
                        <span>Export data</span>
                        <span class="material-icons">
                            file_download
                        </span>
                    </div>
                </div>
            </div>
            <formio [form]='CurrentForm' #formio [options]='FormOptions'></formio>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>