@import "../create-form-template/create-form-template.component.scss";
@import "../../users/create-user/create-user.component.scss";
@import "../user-forms-in-progress/user-forms-in-progress-data/user-forms-in-progress-data.component.scss";

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: stretch;
}

.right-side-nav {
    border-left: 1px solid #c4c4c4;
    width: 25%;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f, 0 1px 10px #0000001f;
}

.submit-button {
    align-self: flex-end;
    justify-content: flex-end;
    gap: 1em;
}

.comments-toggle {
    display: flex;
    align-items: center;
    flex-direction: row;

    label {
        font-size: 0.8rem;
        margin-top: 0.2em;
    }
}

.toggle-and-submit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password] {
    border-style: solid;
    background-color: #fff;
}

.export-parent {
    align-self: center;
    margin-right: 3em;
    display: flex;
    cursor: pointer;

    &:hover {
        color: #00ADB5;
    }


}