@import "../users/users-info/users-info.component.scss";

app-departments {


    .app-container {
        width: 90vw;
    }

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;
    }

    .node text {
        font: 16px sans-serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }

    .rectangle-custom {
        fill: #fff;
        height: 5em;
        stroke: black;
        width: 8em;
    }
}