<div class="form_template_container">
    <div class="form_name_input">
        <label for="form_name">Form Name*</label>
        <input type="text" id="form_name" class="form-control" [(ngModel)]="FormName">
    </div>
    <form-builder *ngIf="IsFormLoaded" [form]='CurrentForm' [options]='FormOptions' #formio></form-builder>
    <div class="buttons_container">
        <button class="btn save_button" (click)="SaveTemplate()" [disabled]="!FormName.length">Save Template</button>
        <button class="btn cancel_button" (click)="CancelChanges()">Cancel</button>
    </div>
</div>