@import '../../variables.scss';
.form_template_container {
    padding: 10px;
    width: 99%;
    position: relative;
    .form_name_input {
        margin-bottom: 10px;
        margin-left: 5px;
        label {
            margin-right: 10px;
            display: inline-block;
            font-weight: 600;
        }
        input {
            display: inline-block;
            width: 20rem;
        }
    }
    .form-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .buttons_container {
        position: absolute;
        right: 0;
        width: 18rem;
        font-size: 0.8rem;
        .save_button {
            background-color: #0A1931;
            color: white;
            margin-right: 2rem;
        }
        .cancel_button {
            background-color: #EFEFEF;
            color: #0a1931;
            margin-left: 1rem;
        }
    }
}

::ng-deep .formbuilder {
    .formarea {
        max-height: 77vh;
        overflow: auto;
        border: 1px solid $main-gray-light;
        margin-bottom: 5px;
    }
    .builder-sidebar .btn {
        background-color: $main-teal !important;
    }
    .builder-sidebar_scroll {
        margin-top: 1rem;
    }
}

// background-color: #00ADB5;