@import "../../variables.scss";

.page {
    overflow: hidden;
    height: calc(100% - 30px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .add_btn {
        position: absolute;
        top: 100px;
        left: 20px;
    }
}

.custom-node {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid $main-navy;
    border-top: 5px solid $main-teal;

    display: flex;
    flex-direction: column;
    height: 6em;
    width: 10em;

}

.dept-data {
    margin-left: 1em;
}

.dept-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    mat-icon {
        &:hover {
            background-color: $main-navy-light;
        }

    }

}

.dept-code {
    color: #00000070;
}