<div class="add_btn">
    <button class="btn btn-primary" (click)="AddDepartment()">Add Department</button>
</div>

<button class="btn back_button" (click)="back()">Back</button>
<div class="page">
    <ngx-graph [links]="links" [nodes]="nodes" layout="dagre" [curve]="curve" [draggingEnabled]="draggingEnabled" [panningEnabled]="panningEnabled" [enableZoom]="zoomEnabled" [zoomSpeed]="zoomSpeed" [minZoomLevel]="minZoomLevel" [maxZoomLevel]="maxZoomLevel"
        [panOnZoom]="panOnZoom" [autoZoom]="autoZoom" [layoutSettings]="layoutSettings">

        <ng-template #nodeTemplate let-node>
            <svg:foreignObject class="custom-node">
                <mat-card>
                    <div class="dept-menu">
                        <span class="dept-label">{{node.label}}</span>
                        <mat-icon mat-button [matMenuTriggerFor]="menu" class="material-icons-outlined">more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <div class="mat-menu">
                                <button mat-menu-item (click)="AddDepartment()">
                                    <mat-icon>add_circle_outline
                                    </mat-icon>
                                    Add
                                </button>
                                <button mat-menu-item (click)="EditDepartment(node.id)">
                                    <mat-icon>edit
                                    </mat-icon>
                                    Edit
                                </button>
                            </div>
                        </mat-menu>
                    </div>
                    <div class="dept-data">
                        <div>{{node.codeLabel}}</div>
                        <div>site: {{node.site}}</div>
                    </div>
                </mat-card>
            </svg:foreignObject>
        </ng-template>

        <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="90deg">
                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
        </ng-template>

        <ng-template #linkTemplate let-link>
            <svg:g class="edge">
                <svg:path class="line" stroke-width="2 " marker-start="url(#arrow) ">
                </svg:path>
            </svg:g>
        </ng-template>
    </ngx-graph>
</div>