#logo {
    color: #FFC947;
    font-weight: bold;
}

.navbar-custom {
    background-color: #0A1931;
}

.nav-link {
    color: #ffffff70;
    font-weight: lighter;
}

.active {
    color: #ffffff;
    font-weight: bold;
}

.navbar-text {
    color: #ffffff;
}

.rounded-circle {
    height: 3rem;
}