@import "../variables.scss";
#logo {
    color: #FFC947;
    font-weight: initial;
}

.navbar {
    background-color: #0F2938;
    padding: 0rem;
    height: 4rem;
    .container-fluid {
        justify-content: normal;
    }
    .logo_image {
        img {
            height: 3rem;
            margin-right: 0.5rem;
        }
    }
}

.navbar-collapse {
    margin-left: 4rem;
}

.nav-link {
    color: #ffffff70;
    font-weight: lighter;
}

.nav-link-custom:hover {
    color: #ffffff;
    font-weight: initial;
    border-bottom: solid #FFC947;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.3s ease-in-out, border-bottom 0.1s ease-in-out;
}

.active {
    color: #ffffff;
    font-weight: initial;
}

.navbar-text {
    color: #ffffff;
}

.rounded-circle {
    height: 2rem;
}

.dropdown-menu {
    margin-top: -0.5rem;
}

.dropdown-toggle {
    cursor: pointer;
}

.collapse-wrapper-custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.app_header_name {
    color: white;
}

.home_icon {
    margin-left: auto;
    img {
        height: 2rem;
        margin-right: 1rem;
    }
}