<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#" class="logo_image">
            <img src="../../assets/Images/confac_final_logo-trans.png">
        </a>

        <!-- Toggle button -->


        <!-- Collapsible wrapper -->
        <div *ngIf="showNavbarItems" class="collapse navbar-collapse" id="navbarSupportedContent" mdbCollapse
            #basicNavbar="mdbCollapse">
            <div>
                <a class="nav-link nav-link-custom" [routerLinkActive]="['active']" routerLink="welcome">
                    Home
                </a>
            </div>

            <div>
                <a class="nav-link nav-link-custom" [routerLinkActive]="['active']" routerLink="formsDashboard">
                    Forms
                </a>
            </div>


            <div mdbDropdown class="dropdown">
                <a class=" nav-link nav-link-custom  dropdown-toggle inactiveLink" aria-expanded="false"
                    mdbDropdownToggle [ngClass]="{'active': rlaUser.isActive || rlaRole.isActive}">
                    Users Management
                </a>
                <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" routerLink="../usersParent/users" [routerLinkActive]="['class1']"
                            #rlaUser="routerLinkActive">
                            Users
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="../usersParent/roles" [routerLinkActive]="['class1']"
                            #rlaRole="routerLinkActive">
                            Roles
                        </a>
                    </li>

                </ul>
            </div>


            <div>
                <a class="nav-link nav-link-custom" [routerLinkActive]="['active']" routerLink="departments">
                    Departments

                </a>
            </div>


        </div>
        <div class="collapse-wrapper-custom">
            <span class="navbar-text">{{username}}</span>
            <ul class="navbar-nav">
                <!-- Avatar -->
                <li mdbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuLink"
                        role="button" mdbDropdownToggle aria-expanded="false">
                        <img src="../../assets/profile-icon.svg" class="rounded-circle" alt="" loading="lazy" />
                    </a>
                    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <div class="dropdown-item" (click)="invalidateSession()">Logout</div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->