<div class="app-container">
    <div class="form-card" routerLink="/userFormsDashboard/userForms">
        <div></div>
        <div>
            <img src="../../../assets/eLogBook.svg" class="template-type">
        </div>
        <div class="form-name-container">
            <span>Log Entries</span><img src="../../../assets/right-arrow.svg">
        </div>
    </div>
    <div class="form-card" routerLink="/userFormsDashboard/masterForms">
        <div></div>
        <div>
            <img src="../../../assets/masterForms.svg" class="template-type">
        </div>
        <div class=" form-name-container">
            <span>Master Records</span><img src="../../../assets/right-arrow.svg">
        </div>
    </div>

</div>