@import "../../variables.scss";

.left-side-nav {


    width: 10em
}

.active {
    background-color: $main-teal-light ;
    color: $main-teal-dark;
    font-weight: initial;

    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;


    font-weight: bold;


}

.mat-list-item {


    &:hover {
        @extend .active;
        font-weight: normal;

    }

    &:focus {
        @extend .active;
    }
}