.left-side-nav {
    border-right: 1px solid #c4c4c4;

    width: 10em
}



mat-nav-list {
    a:hover {
        background-color: #c4c4c4;
    }
}


.active {
    background-color: #c4c4c4;
    color: #fff;
    font-weight: initial;
}