<mat-sidenav-container class="example-container">
    <mat-sidenav class="left-side-nav" mode="side" [fixedInViewport]="true" fixedTopGap="65" opened>

        <mat-nav-list>
            <a mat-list-item routerLink="/userFormsDashboard/userForms" [routerLinkActive]="['active']">Log Entries</a>

            <a mat-list-item routerLink="/userFormsDashboard/masterForms" [routerLinkActive]="['active']">Masters</a>


        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>