@import "../../variables.scss";
.left-side-nav {
    width: 10em
}

.right-side-nav {
    overflow: hidden;
    height: 100vh;
}

.active {
    background-color: $main-teal-light;
    color: $main-teal-dark;
    font-weight: initial;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    font-weight: bold !important;
}

.mat-list-item {
    &:hover {
        background-color: $main-teal-light;
        color: $main-teal-dark;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        font-weight: normal;
    }
    &:focus {
        background-color: $main-teal-light;
        color: $main-teal-dark;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        font-weight: normal;
    }
}