@import "../../users/create-user/create-user.component.scss";

.app-container {
    margin-top: 0em;
    padding: 1em;
}


.form-container-parent {
    border: none;

}

.close-icon {
    align-self: flex-end;

    padding: 0.6em;
    border-radius: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon:hover {
    cursor: pointer;

    /* border: 0.5em solid red; */


    background-color: #c4c4c440;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.3s ease-in-out, border-bottom 0.1s ease-in-out;
}