<div id="login-screen">

    <div class="login-screen-subparent welcome-screen">Welcome</div>
    <div class="login-screen-subparent">
        <div id="login-screen-box">
            <h2 class="login-screen-header">Sign In</h2>
            <div id="login-screen-item-container">
                <div class="login-screen-item">
                    <div>
                        <label for="email" class="label-style">E-mail</label>
                    </div>

                    <input type="email" placeholder="@gmail.com" id="email" class="textbox-style">
                </div>

                <div class="login-screen-item">
                    <div>
                        <label for="password" class="label-style">Password</label>
                    </div>
                    <input type="password" id="password]" class="textbox-style">
                </div>

                <div class="submit-button">

                    <button type="button" class="button">Sign In</button>
                </div>

            </div>
            <a href="#" id="forgot-password">Forgot Password?</a>
        </div>
    </div>
</div>