@import "../../users/users-info/users-info.component.scss";

@import "../../forms/forms-dashboard/forms-dashboard.component.scss";

.td-link {
    color: blue;

    &:hover {
        pointer-events: all;
        cursor: pointer;
        text-decoration-line: underline;
    }
}