@import "../../users/users-info/users-info.component.scss";
@import "../../forms/forms-dashboard/forms-dashboard.component.scss";
.td-link {
    color: #60afaf;
    text-decoration: underline;
    &:hover {
        pointer-events: all;
        cursor: pointer;
    }
}

.table {
    width: fit-content;
}