<div class="forms_dashboard">

    <h2>
        Execute Log Records
    </h2>

    <div class="filters-and-button">
        <div class="search-box-container">
            <input class="search-box" type="text" placeholder="Search Log Name">
        </div>
        <div class="back-button" (click)="back()">
            <img src="../../../assets/next-arow-5738 9.svg">
            Back to eLogbook Home
        </div>

    </div>
    <div class="user-forms-in-progress-content">
        <div *ngFor="let form of FormTemplates ;let indexOfelement=index;" class="form-card" (click)="SeeEntries(form)">
            <div></div>
            <div>
                <img src="../../../assets/form-template-icons/icon-{{(indexOfelement%10)+1}}.svg">
            </div>
            <div class="form-name-container">
                <span>{{form.name}}</span><img src="../../../assets/next-arow-5738 4.svg">
            </div>
        </div>
        <div *ngIf="!FormTemplates?.length" class="no_data_message">
            No Forms Available
        </div>
    </div>

</div>