<div class="forms_dashboard">

    <h2>
        Execute Log Records
    </h2>

    <div class="filters-and-button">
        <div class="search-box-container">
            <input class="search-box" type="text" placeholder="Search Log Name">
        </div>
        <div class="back-button">
            <img src="../../../assets/next-arow-5738 9.svg">
            Back to eLogbook Home
        </div>

    </div>
    <div class="user-forms-in-progress-content">
        <div *ngFor="let form of FormTemplates" class="form-card">
            <span>{{form.id}}</span>
            <span>{{form.createdBy}}</span>
            <span>{{form.createDt | date: DATE_FORMAT }}</span>
        </div>
        <div *ngIf="!FormTemplates?.length" class="no_data_message">
            No Forms Available
        </div>
    </div>

</div>