@import "../password-config/password-config.component.scss";

#username-setting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#usernameForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;



}