<div class="app-container table-responsive">
    <div class="filter-create-user">

        <form class="filter-item-form">
            <div class="mb-3 row">

                <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter"
                        placeholder="Find by name">
                </div>

            </div>

        </form>

        <div class="submit-button">

            <button type="submit" class="button" (click)="createUser()">Create User
                <img src="../../../assets/right-arrow.svg">
            </button>
        </div>


    </div>
    <div class="table-container" *ngIf="isDataLoaded">
        <table class="table table-hover">

            <thead>
                <tr>
                    <th scope="col" sortable="first_name" (sort)="onSort($event)">
                        <div class="row">
                            <mat-icon>person</mat-icon>
                            Users
                        </div>
                    </th>
                    <th scope="col">
                        <div class="row">
                            <mat-icon>lock</mat-icon>
                            Roles
                        </div>
                    </th>
                    <th scope="col" sortable="department" (sort)="onSort($event)">
                        <div class="row">
                            <mat-icon>
                                corporate_fare
                            </mat-icon>
                            Department
                        </div>
                    </th>
                    <th scope="col" sortable="createDt" (sort)="onSort($event)">
                        <div class="row">
                            <mat-icon>schedule</mat-icon>
                            Signup Time
                        </div>
                    </th>
                    <th scope="col" sortable="lastLoginDt" (sort)="onSort($event)">
                        <div class="row">
                            <mat-icon>schedule</mat-icon>
                            Last Login Time
                        </div>
                    </th>
                    <th scope="col" sortable="isActive" (sort)="onSort($event)">
                        <div class="row">
                            <mat-icon>sell</mat-icon>
                            Status
                        </div>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of users$ | async;" class="align-middle">

                    <td>
                        <div class="user-profile">
                            <div>

                                <img src="../../assets/profile-icon.svg" class="rounded-circle" alt="" loading="lazy" />
                            </div>
                            <div class="user-name-email">
                                <div class="user-name"> {{user.first_name}}</div>
                                <div class="user-email"> {{user.email}}</div>
                            </div>
                        </div>

                    </td>
                    <td>{{user.roles[0].role}}</td>
                    <td>{{user?.department?.name}}</td>

                    <td>{{user.createDt |date: DATE_FORMAT }}</td>

                    <td>{{user.lastLoginDt |date: DATE_FORMAT }}</td>
                    <td>



                        <mat-slide-toggle [checked]="user.isActive" color="primary" (toggleChange)="toggleUser(user)">
                        </mat-slide-toggle>

                    </td>

                    <td>

                        <div class="row">
                            <mat-icon (click)="editUser(user)">edit</mat-icon>

                        </div>
                    </td>



                </tr>

            </tbody>
        </table>

    </div>
</div>