// $main-navy: #0A1931;
$main-navy-light: #0A193120;
// $main-teal: #00ADB5;
// $main-teal-light: #00ADB520;
// $light-blue-teal: #6BCAE2;
// $dark-blue-teal : #51A5BA;
// $main-teal-dark: #257c81;
// $main-blue: #185ADB;
// $main-yellow: #FFC947;
// $main-gray: #EFEFEF;
// $main-gray-light: #75757570;
// $main-gray-dark: #757575;
$main-teal: #00ADB5;
$main-teal-light: #82DBD8;
$main-navy: #222831;
$main-gray-dark: #393E46;
$main-gray-light: #EEEEEE;
$main-blue: #1266f1;
$primary: #00ADB5;