<div class="app-container">
    <div id="password-setting">
        <form [formGroup]="passwordForm" id="passwordForm">
            <span style="white-space:nowrap">
                <label for="alphanumeric">Lower case (a-z), upper case (A-Z) and numbers (0-9): </label>

                <div class="form-check form-switch" id="alphanumeric">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                        formControlName="ALPHANUMERIC" />

                </div>
            </span>

            <span style="white-space:nowrap">
                <label for="special-chars">Special Characters (!@#$%^&*): </label>


                <div class="form-check form-switch" id="special-chars">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                        formControlName="SPECIAL_CHARS_REQD" />

                </div>
            </span>

            <span style="white-space:nowrap">
                <label for="password-min-length">Minimum Length: </label>
                <input id="password-min-length" type="text" formControlName="PASSWORD_MIN_LENGTH">
            </span>

            <span style="white-space:nowrap">
                <label for="expiry-days">Expiry Days: </label>
                <input id="expiry-days" type="text" formControlName="EXPIRY_DAYS">
            </span>

            <span style="white-space:nowrap">
                <label for="max-attempts">Max Attempts: </label>
                <input id="max-attempts" type="text" formControlName="MAX_ATTEMPTS">
            </span>


        </form>

        <div class="submit-button">

            <button type="submit" class="button" [disabled]="!passwordForm.valid" (click)="submitForm()">Save</button>
        </div>
    </div>


</div>