@import "../../../users/users-info/users-info.component.scss";

#passwordForm {
    display: flex;
    flex-direction: column;

    label {
        display: inline-block;
        width: 70%;
        text-align: right;
        margin-right: 1em;
    }




}