@import "../../../users/create-user/create-user.component.scss";


#password-setting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

#passwordForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;



}

.label-custom {
    width: 10em;
}

.password-form-control {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.submit-button {
    justify-content: flex-start;
    gap: 3em;
}