<div class="app-container">
    <div class="setting-container">
        <h2>Password Config</h2>
        <hr>
        <form [formGroup]="passwordForm" class="settingsForm" (ngSubmit)="submitForm()">
            <div class="custom-form-control">
                <div class="label-custom">
                    <label for="alphanumeric">Lower case (a-z), upper case (A-Z) and numbers (0-9) </label>
                </div>
                <div>:</div>

                <mat-slide-toggle role="switch" id="alphanumeric" color="primary" formControlName="ALPHANUMERIC">
                </mat-slide-toggle>

            </div>
            <div class="custom-form-control">

                <div class="label-custom">
                    <label for="special-chars">Special Characters (!@#$%^&*) </label>

                </div>
                <div>:</div>


                <mat-slide-toggle role="switch" id="special-chars" color="primary" formControlName="SPECIAL_CHARS_REQD">
                </mat-slide-toggle>

        
            </div>


            <div class="custom-form-control">
                <div class="label-custom">
                    <label for="password-min-length">Minimum Length </label>
                </div>
                <div>:</div>
                <div>
                    <input id="password-min-length" type="number" formControlName="PASSWORD_MIN_LENGTH">
                </div>

                <span class="text-danger" *ngIf="passwordMinLength?.hasError('required')
                     && 
                     (passwordMinLength?.dirty || passwordMinLength?.touched)">
                    Password Min Length is required
                </span>
                <span class="text-danger" *ngIf="passwordMinLength?.hasError('min')
                && 
                (passwordMinLength?.dirty || passwordMinLength?.touched)">
                    Password Min Length should not be less than 8
                </span>
            </div>

            <div class="custom-form-control">
                <div class="label-custom">
                    <label for="expiry-days">Expiry Days </label>
                </div>
                <div>:</div>
                <div>
                    <input id="expiry-days" type="number" formControlName="EXPIRY_DAYS">
                </div>
                <span class="text-danger" *ngIf="expiryDays?.hasError('required')
                && 
                (expiryDays?.dirty || expiryDays?.touched)">
                    Expiry Days is required
                </span>

            </div>

            <div class="custom-form-control">
                <div class="label-custom">
                    <label for="max-attempts">Max Attempts </label>
                </div>
                <div>:</div>
                <div>
                    <input id="max-attempts" type="number" formControlName="MAX_ATTEMPTS">
                </div>

                <span class="text-danger" *ngIf="maxAttempts?.hasError('required')
                && 
                (maxAttempts?.dirty || maxAttempts?.touched)">
                    Max Attempts is required
                </span>

            </div>
            <div class="submit-button">
                <button type="submit" class="button" [disabled]="!passwordForm.valid">Save</button>
                <button type="button" class="button-cancel" (click)="revertForm()">Cancel</button>
            </div>


        </form>

    </div>


</div>