<table class="table">
    <thead>
        <tr>
            <th scope="col">Form ID</th>
            <th scope="col">Form Name</th>
            <th scope="col">Created By</th>
            <th scope="col">Created On</th>
            <th scope="col">Edit</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let form of FormTemplates">
            <td>{{form.Id}}</td>
            <td>{{form.Name}}</td>
            <td>{{form.CreatedBy}}</td>
            <td>{{form.CreatedOn}}</td>
            <td><button (click)="EditFormTemplate(form.Id)"><i class="fa-solid fa-pen"></i></button></td>
            <td><i class="fa-solid fa-eye" (click)="PreviewForm(form.Id)"></i></td>
        </tr>
    </tbody>
</table>