<div class="welcome-container">
    <div class="app-container">
        <div class="app" (click)="OpenELogBook()">
            <div class="logo_container">
                <img src="../../assets/Images/log_book_logo.png" />
            </div>
            <div class="app_name">eLogBook <img src="../../assets/Images/next-arrow.png" /></div>
        </div>
        <div class="app" (click)="OpenSmartJobs()">
            <div class="logo_container">
                <img src="../../assets/Images/checklist_logo.png" />
            </div>
            <div class="app_name">Smart Jobs<img src="../../assets/Images/next-arrow.png" /></div>
        </div>
        <div class="app" (click)="OpenEUAM()" *ngIf="IsAdminUser">
            <div class="logo_container">
                <img src="../../assets/Images/eUAM_logo.png" />
            </div>
            <div class="app_name">eUAM<img src="../../assets/Images/next-arrow.png" /></div>
        </div>
        <div class="app" (click)="OpenEWatchTower()">
            <div class="logo_container">
                <img src="../../assets/Images/e_watch_tower.png" />
            </div>
            <div class="app_name">eWatchTower<img src="../../assets/Images/next-arrow.png" /></div>
        </div>
        <div class="app app-create" *ngIf="IsAdminUser">
            <div class="create_container">
                <img src="../../assets/Images/create_new_logo.png" />
                <div>Create New</div>
            </div>
        </div>
    </div>
</div>