@import '../../variables.scss';
.btn {
    margin: 20px;
}

.btn-primary {
    background-color: $main-teal;
     :hover {
        background-color: $main-teal-dark;
    }
}

.page {
    height: 50vh;
    width: 90vw;
}