@import "../users/users-info/users-info.component.scss";
.back_button {
    background-color: #DFF4F4;
    color: #222831;
    border-radius: 1em;
    font-weight: bold;
    border: 0.1em solid #22283120;
}