/* @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'; */

// https://www.colorcombos.com/color-schemes/142/ColorCombo142.html
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~ngx-toastr/toastr.css';
@import '../src/app/variables.scss';
$primary: #00ADB5;
$navy: #0A1931;
$white: #ffffff;
$blue: #185ADB;
$yellow: #FFC947;
$gray: #EFEFEF;
body {
    margin: 0;
    overflow: auto;
    max-height: 95vh;
    height: 95vh;

}

.btn .btn-primary {
    background-color: $main-navy;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    margin-top: 0.5em;
    outline: none;
    transition: border .2s ease;
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid $main-navy-light;
    // background-color: #c4c4c430;   //commenting this as this makes normal field disabled, if you need this make it in respective component style
    &:focus {
        border: thin solid $main-blue;
    }
}

textarea {
    margin-top: 0.5em;
    outline: none;
    transition: border .2s ease;
    border-radius: 5px;
    border: 1px solid $main-navy-light;
    // background-color: #c4c4c430;   //commenting this as this makes normal field disabled, if you need this make it in respective component style
    &:focus {
        border: thin solid $main-blue;
    }
}

select {
    /* styling */
    // background-color: #c4c4c430 !important;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em), calc(100% - 17px) calc(1em), calc(100% - 2.5em) 0.3em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border: 1px solid $main-navy-light;
    &:focus {
        outline: none;
    }
    &:focus-visible {
        border: thin solid $main-blue !important;
    }
}

.formbuilder .btn-primary {
    background-color: $main-teal;
     :hover {
        background-color: $primary;
    }
}

small {
    font-size: 0.7rem;
}

.mat-menu-panel {
    background-color: #fff;
    overflow: inherit;
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f, 0 1px 10px #0000001f;
}

.display-state-status {
    .mat-dialog-container {
        overflow-y: hidden;
        padding: 0;
        height: 40vh;
        width: 60vw;
        h2 {
            border-bottom: 1px solid #20b5be;
            padding: 0.5rem 2rem;
        }
    }
}

.text-muted {
    color: $main-gray-light !important;
    b {
        color: $main-gray-dark;
    }
}

.mat-drawer-content {
    overflow: hidden !important;
}