<div class="forms_dashboard">
    <button *ngIf="isAdmin" class="btn btn-primary" routerLink="/formManagement/">Create</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Form ID</th>
                <th scope="col">Form Name</th>
                <th scope="col">Created By</th>
                <th scope="col">Created On</th>
                <th *ngIf="isAdmin" scope="col">Edit</th>
                <th *ngIf="isAdmin" scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let form of FormTemplates">
                <td>{{form.id}}</td>
                <td>{{form.name}}</td>
                <td>{{form.createdBy}}</td>
                <td>{{form.createDt | date: DATE_FORMAT }}</td>
                <td *ngIf="isAdmin"><img src="../../../assets/Images/pen-to-square-solid.svg" class="svg_icon"
                        (click)="EditFormTemplate(form.name, form.workflow.id)" /></td>
                <td *ngIf="isAdmin"><img src="../../../assets/Images/eye-solid.svg" class="svg_icon"
                        (click)="PreviewForm(form.template)" /></td>
            </tr>
            <tr *ngIf="FormTemplates && !FormTemplates.length" class="no_data_message">
                <td colspan="6">
                    No Forms Available
                </td>
            </tr>
        </tbody>
    </table>
</div>