<div class="app-container">
    <div class="form-container-parent">

        <div class="create-user-form-header">
            <h1>Create Department</h1>

            <hr>
        </div>
        <div class="form-container" *ngIf="isDataLoaded">

            <formio [form]='FormData' #formio (submit)="handleSubmit()"></formio>

            <div class="submit-button">
                <button type="button" class="button-cancel" (click)="close()">Cancel</button>
                <button type="submit" class="button" (click)="onSubmit()">Create Department</button>
            </div>
        </div>
    </div>
</div>