<div class="app-container">
    <div class="form-container-parent">
        <div class="create-user-form-header">
            <h1>Create User</h1>
        </div>
        <div class="form-container">

            <formio [form]='FormData' #formio (submit)="handleSubmit()"></formio>

            <div class="submit-button">
                <button type="button" class="button-cancel" (click)="close()">Close</button>
                <button type="submit" class="button" (click)="onSubmit()">Create User</button>
            </div>
        </div>
    </div>
</div>