<ul class="nav nav-tabs">
    <li class="nav-item">
        <button class="nav-link" [ngClass]="{'active': IsUsernameTabVisible}" id="username-tab" type="button"
            (click)="LoadUsernameScreen()">Username</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" [ngClass]="{'active': IsPasswordTabVisible}" id="password-tab" type="button"
            (click)="LoadPasswordScreen()">Password</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="template-tab" type="button">SMTP</button>
    </li>
</ul>
<div class="tab-content">
    <div id="username" [hidden]="!IsUsernameTabVisible">

        <app-username-config>
        </app-username-config>
    </div>

    <div id="password" [hidden]="!IsPasswordTabVisible">

        <app-password-config>
        </app-password-config>
    </div>

</div>