<ul class="nav nav-tabs">
    <li class="nav-item">
        <button class="nav-link" [ngClass]="{'active': IsUsernameTabVisible}" id="username-tab" type="button"
            (click)="LoadUsernameScreen()">Username</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" [ngClass]="{'active': IsPasswordTabVisible}" id="password-tab" type="button"
            (click)="LoadPasswordScreen()">Password</button>
    </li>

    <li class="nav-item">
        <button class="nav-link" [ngClass]="{'active': IsSessionTabVisible}" id="session-tab" type="button"
            (click)="LoadSessionScreen()">Session</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" [ngClass]="{'active': IsSmtpTabVisible}" id="smpt-tab" type="button"
            (click)="LoadSmtpScreen()">SMTP</button>
    </li>

    <li class="nav-item">
        <button class="nav-link" [ngClass]="{'active': IsGlobalTabVisible}" id="global-tab" type="button"
            (click)="LoadGlobalScreen()">Global</button>
    </li>
</ul>
<div class="tab-content">
    <div id="username" [hidden]="!IsUsernameTabVisible">

        <app-username-config>
        </app-username-config>
    </div>

    <div id="password" [hidden]="!IsPasswordTabVisible">

        <app-password-config>
        </app-password-config>
    </div>

    <div id="session" [hidden]="!IsSessionTabVisible">

        <app-session-config>
        </app-session-config>
    </div>

    <div id="session" [hidden]="!IsSmtpTabVisible">

        <app-smtp-config>
        </app-smtp-config>
    </div>


    <div id="global" [hidden]="!IsGlobalTabVisible">

        <app-global-config>
        </app-global-config>
    </div>


</div>