@import "../../users/users-info/users-info.component.scss";
.app-container {
    padding-top: 0em;
}

.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-tabs {
    justify-content: space-evenly;
    margin: 0em 10em;
    border-bottom: 1px solid #EFEFEF;
}

.nav-link {
    &:hover {
        background-color: #fff;
        border-bottom: 1px solid #EFEFEF;
        color: #1266f1;
    }
}

.nav-link.active {
    border-bottom: 1px solid #1266f1;
    color: #1266f1;
    font-weight: initial;
}