<div class="forms_dashboard">
    <div class="cta-buttons">
        <div class="filters">

            <div class="filter-menu">
                <button mat-button [matMenuTriggerFor]="menu" class="mat-button">Filters
                    <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <div class="mat-menu">

                        <div class="filter-choice">
                            <input type="radio" id="filter-by-all" (change)="handleChange()" [value]="'all'" [(ngModel)]="selectedChoice">
                            <label for="filter-by-all" class="label-filter-checkbox">All</label>
                        </div>
                        <div class="filter-choice">
                            <input type="radio" id="filter-by-username" (change)="handleChange()" [value]="'username'" [(ngModel)]="selectedChoice">
                            <label for="filter-by-username" class="label-filter-checkbox">Submitted by me</label>
                        </div>
                        <div class="filter-choice">
                            <input type="radio" id="filter-by-department" (change)="handleChange()" [value]="'department'" [(ngModel)]="selectedChoice">
                            <label for=" filter-by-department" class="label-filter-checkbox">Department</label>
                        </div>


                    </div>
                </mat-menu>

            </div>
        </div>
        <div class="submit-button" *ngIf="enableCreateNewEntry">
            <button type="submit" class="button" (click)="createNewEntry()">Create New Entry</button>


        </div>
    </div>

    <table class="table" *ngIf="isDataLoaded">
        <thead>
            <tr>
                <th scope="col" *ngFor="let col of columns">{{col}}</th>
                <th colspan="2"></th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let entry of logEntries">

                <td *ngFor="let col of columns">{{entry.data[""+col]}}</td>
                <td class="icon_column">
                    <span class="fas fa-edit" (click)="FillForm(entry.data['id'])"></span>
                </td>
                <td class="icon_column">
                    <span class="fas fa-hourglass-half" (click)="ShowProgress(entry.data['id'])"></span>
                </td>

            </tr>
            <tr *ngIf="!logEntries?.length" class="no_data_message">
                <td [attr.colspan]="columns?.length">
                    No Entries Available
                </td>
            </tr>
        </tbody>
    </table>


</div>