<div class="forms_dashboard">

    <table class="table">
        <thead>
            <tr>
                <th scope="col" *ngFor="let col of columns">{{col}}</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let entry of logEntries">

                <td *ngFor="let col of columns">{{entry.data[""+col]}}</td>
                <td><img src="../../../assets/Images/pen-to-square-solid.svg" class="svg_icon" (click)="FillForm()" />
                </td>

            </tr>
            <tr *ngIf="!logEntries.length" class="no_data_message">
                <td colspan="6">
                    No Entries Available
                </td>
            </tr>
        </tbody>
    </table>
</div>